@inherits RazorSliceHttpResult<BlogEntryEdit>
@implements IUsesLayout<_Layout, Layout>

<div class="hcenter">
    <h1>@EditMessage</h1>
    @if (SlugName is not null)
    {
        <h2>@SlugName</h2>
    }
</div>
@if (Model.PreviewHtml is not null)
{
<article>
   @Model.PreviewHtml 
</article>
}
<article>
    <form>
        <div class="hcenter">
            <label for="title">Title</label>
        </div>
        <div>
            <input id="title" class="wideinput" type="text" minlength="1" maxlength="256"
                   name="title" value="@(Model.Title ?? "")"/>
        </div>
        <div class="hcenter">
            <label for="contents">Contents</label>
        </div>
        <div>
            <textarea id="contents" class="wideinput" name="contents" cols="64" rows="20">
@(Model.MarkdownContents)
            </textarea>
        </div>
        @if (Model.IsNewPost)
        {
            <div class="hcenter">
                <label for="initially-public">Is initially public?</label>
                <input id="initially-public" type="checkbox"
                       name="initiallypublic" value="on" checked="@IsInitiallyPublicValue"/>
            </div>
        }
        <input type="hidden" name="@(Model.Antiforgery.FormFieldName)" value="@(Model.Antiforgery.RequestToken)"/>
        <div class="hcenter">
            <div>
                <input type="submit" name="previewButton" value="Preview" 
                       formaction="@(Model.ToPreviewPage)" formmethod="post"/>
            </div>
            <div>
                <input type="submit" name="submitButton" value="Submit"
                       formaction="@(Model.ToSubmitPage)" formmethod="post"/>
            </div>
        </div>
    </form>
</article>

@functions
{
    private string IsNew => Model.IsNewPost ? ": New" : "";
    private string EditMessage => $"Editing{IsNew}: {Model.Title}";
    private string? SlugName => Model.CandidateSlugNameForNewPost is not null
        ? $"Link name candidate: {Model.CandidateSlugNameForNewPost}" : null;
    private string? IsInitiallyPublicValue => Model.IsInitiallyPublic ? "1" : null;
    public Layout LayoutModel => new() { Title = EditMessage };
}
